.App {
  text-align: center;
}

.cart{
  display: flex;
  align-items: center;
}

button {
  border: solid 1px deeppink;
  background-color: deeppink;
  border-radius: 5px;
  padding: 5px;
  color: white;  
  cursor: pointer;  
}

.header{
  background-color: pink;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.cart-div{
  float: right;
  margin: 30px;
  position: relative;
}
.cart-div img{
  width: 30px;
}
.cart-div span{
  background-color: green;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position:absolute;
  top:-10px;
  right:0px;
  color: #fff;
}

.search-box{
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.search-box input{
  height: 50px;
  align-self: center;
  width: 700px;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}
.main-container span {
  margin: 1.5rem ;
  border: solid gainsboro 1px;
}
.main-container div {  
  display: flex;
  flex-direction: column;
}
.main-container button {  
  margin: 0.5rem 1rem;
}

.table-container{  
  display: flex;
  margin: 0 5vw;
  justify-content: space-between;
}
.table-container table {
  width: 40vw;
  border-collapse: collapse;
}
.table-container td{
  border: solid gray 1px;
}
.price-data{
  width: 20vw;
  padding: 30px;
  border: solid gray 1px;
  height: fit-content;
}
.price-data div{
  display:flex;
  justify-content:space-around
}

a {
  text-decoration: none;
  color: inherit;
}

.go-back {  
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0 0 1rem;
  align-items: center;
}
.go-back img{
  width: 20px;
  margin: 0 0.5rem;
}

.float-qtd {
  background-color: green;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  position:relative;
  color: #fff;
  bottom: 300px;
  left: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
}